body {
	font-family: 'open sans' ,sans-serif;

}
a.disabled {
	/* Make the disabled links grayish*/
	color: black;
	text-decoration: none;
}

.btn{
	border-radius: 0px;
	font: normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
}

.noborder {
	border: none;
}

.italic {
	font: italic normal normal 26px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif;
}

.no-margin-bottom {
	margin-bottom: 0px;
}

.not_wrap{
	white-space: nowrap;
}

.backcolor {
	background-color: #f8f9fa;
}

.backcolor-white {
	 background-color: #fff;
 }

.first-pad{
	padding-top: 130px;
}

.hl1b {
	box-sizing:border-box;
	width:90%;
	border-top:1px solid rgba(199, 199, 199, 1);
	height:0;
	position: relative;
	margin: 10px 0px 10px 0px;
	left: 29px;
	top: 55px;
	grid-area: 1 / 1 / 2 / 2;
	justify-self: start;
	align-self: start;
}

.hl1 {
	position: relative;
	grid-area: 1 / 1 / 2 / 2;
	justify-self: start;
	align-self: start;
	font: normal normal bold 60px/1.4em 'open sans',sans-serif;
}

.hl4 {
	font: normal normal bold 32px/1.4em 'open sans',sans-serif;
}

.pl1 {
	font: normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
}

.footer {
	color: #606060;
	font-family: OpenSans,sans-serif;
	font-size: .75em;
	padding-bottom: 25px;
	padding-top: 25px;
	text-align: center;
}
.footer a {
	color: #606060;
}

.index-first {
	width: 100%;
	background-image: url("../img/index1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	box-shadow:0 0 0 400px rgba(0, 0, 0, 0.33) inset;
	z-index: 90;
	height: 800px;
	color: white;
}
.index-first .uber {
	padding-top: 15%;
	/*width: 100%;
	height: 100%;
	background: black;
	z-index: 100;
	opacity: 0.2;*/
}
.index-first li{
	border-bottom: 1px solid #d9d9d9;
 }

.index-first .list-group-item{
	background: none;
}

.index-first i{
	font-size: 2em;
	color: white;
}

.index-first h2{
	font: normal normal bold 40px/26px "open sans",sans-serif;
	margin-top: 10px;
 }

.index-first h3{
	margin-top: 7px;
	font: normal normal bold 21px/26px "open sans",sans-serif;
  }

.map-container iframe {
	height: 100%;
	width: 100%;
}

@media screen and (max-width: 850px) {
	.index-first {
		z-index: 100;
	}
	.index-first br{
		 display: none;
	 }
	.map-container {
		height: 400px;
	}
	.hl1 {
		font-size: 50px;
	}
}
@media screen and (max-width: 576px) {
	.index-first {
		height: 1100px;
	}
	.hl1b {
		width: 100%;
		left: 0;
	}
}

@media screen and (max-width: 420px) {
	.hl1 {
		font: normal normal bold 30px/1.4em 'open sans',sans-serif;
	}
	.contact-info {
		text-align: center;
	}
}

.index-info h5{
	font: normal normal bold 21px/1.4em "open sans",sans-serif;
	line-height: 1.2em;
}

.index-contact-form h1 {
	font-family: GothamProBold,sans-serif;
	font-size: 1.875em;
}

.contact-info {
	border-bottom: 1px solid #e5e5e5;
	font-family: GothamProRegular,sans-serif;
	font-size: 1em;
	padding-bottom: 30px;
	padding-right: 100px;
	padding-top: 30px;
}

.but-cont {
	text-align: right;
}

.confirm-button {
	background-color: #009ef0;
	border: none;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	height: 35px;
	margin-top: 25px;
	-webkit-border-radius: 3px;
	width: 90px;
}

.index-map-container {
	z-index: 100;
	height: 500px;
	width: 100%;
}

.collective-carousel{
}
.carousel-inner h3 {
	background-color: rgba(20, 49, 68, 0.6);
	padding: 20px;
	animation: anime-H3 1.3s ease-out;
	color: #fff;
}

.carousel-inner p {
	font-size: 18px;
	background-color: rgba(30,29,29, 0.6);
	padding: 20px;
	animation: anime-P 1.6s ease-out;
}


@media screen and (max-width: 991px) {
	.carousel-inner h3 {
		font-size: 16px;
		padding: 5px;
	}

	.carousel-inner p {
		font-size: 14px;
		padding: 5px;
		margin-bottom: 10px;
	}
}

@keyframes anime-H3 {
	from {
		opacity: 0;
		transform: translateX(-2000px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes anime-P {
	from {
		opacity: 0;
		transform: translateX(2000px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.doc-first i{
	font-size: 50px;

}

.tickets-first .back-tick{
	font: normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
}

nav.navbar {
	background-color: #fff;
	color: #20303c;
	-webkit-box-shadow: 0 2px 18px 0 rgba(129,162,182,.2);
	box-shadow: 0 2px 18px 0 rgba(129,162,182,.2);
	padding: .4rem 1rem;
}
nav.navbar a {
	color: #20303c;
}
.card, .form-control {
	border-radius: 0;
}